In [14]:
import numpy as np
import pandas as pd

teamsfile = 'https://lp-prod-resources.s3.amazonaws.com/other/deeplearningbasketballscores/Teams.csv'
gamesfile = 'https://lp-prod-resources.s3.amazonaws.com/other/deeplearningbasketballscores/Games.csv'

teams = pd.read_csv(teamsfile, names=["Name", "Place"])
games = pd.read_csv(gamesfile, names=['Date', 'HomeTeam', 'HomeScore', 'AwayTeam', 'AwayScore'], parse_dates=['Date'])

In [15]:
teams.head()

           Name        Place
0  America East      Vermont
1  America East  Stony Brook
2  America East         UMBC
3  America East     Hartford
4  America East       Albany

In [16]:
games.head()

        Date       HomeTeam  HomeScore     AwayTeam  AwayScore
0 2015-11-13         Hawaii         87  Montana St.         76
1 2015-11-13  Eastern Mich.         70      Vermont         50
2 2015-11-13       Columbia        107         Kean         62
3 2015-11-13     La.-Monroe         88      McMurry         43
4 2015-11-13           Yale         70    Fairfield         57

In [17]:
games['Date']

0       2015-11-13
1       2015-11-13
2       2015-11-13
3       2015-11-13
4       2015-11-13
           ...
23488   2019-03-21
23489   2019-03-21
23490   2019-03-21
23491   2019-03-22
23492   2019-03-22
Name: Date, Length: 23493, dtype: datetime64[ns]

In [18]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23493 entries, 0 to 23492
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       23493 non-null  datetime64[ns]
 1   HomeTeam   23493 non-null  object
 2   HomeScore  23493 non-null  int64
 3   AwayTeam   23492 non-null  object
 4   AwayScore  23493 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 917.8+ KB

In [21]:
games['HomeTeam'].astype(str)

0               Hawaii
1        Eastern Mich.
2             Columbia
3           La.-Monroe
4                 Yale
             ...
23488          Hampton
23489       La.-Monroe
23490    CSU Fullerton
23491    Southern Utah
23492        Creighton
Name: HomeTeam, Length: 23493, dtype: object

In [25]:
games.nunique()

Date          550
HomeTeam      452
HomeScore     113
AwayTeam     1022
AwayScore      99
dtype: int64

In [23]:
teams.nunique()

Name      32
Place    353
dtype: int64